.forecast-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.forecast-card {
  background: #ffffff;
  padding: 15px;
  border-radius: 12px;
  width: 120px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.forecast-card img {
  width: 60px;
  height: 60px;
}

.day {
  font-weight: bold;
  margin-bottom: 5px;
}

.temp {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.desc {
  font-size: 14px;
  color: #777;
}
